.thumbnail {
  min-height: 200px;
  min-width: 242px;
  margin: 0;
  padding: 0;
}



.caption {
  background: #4aaaae;
  text-align: center;
}

.photo {
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
}

